{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! My name is hirwa innocent, and I am a passionate and driven software engineer specializing in data engineering.
          I’m 20 years old and have been deeply interested in technology from a young age. Growing up,
          I was always curious about how things worked, especially when it came to computers and software.
          This curiosity eventually led me to pursue a career in the tech industry, and I’m excited to share a bit about myself
          In my professional life, I focus on data engineering, which is a crucial aspect of how businesses manage and utilize their data.
          From designing data pipelines to ensuring that data flows efficiently between systems,
          I find it incredibly rewarding to solve complex problems and create solutions that make a real impact.
        </p>
        <p>
          On a personal note, I’m single and not currently married. I am focused on my career and personal growth
          at the moment, but I also enjoy spending time with my family and friends. I have wonderful parents who
          have always supported me in my goals and ambitions, and I’m grateful for their encouragement.
          I am lucky to be surrounded by a strong support system that helps me stay grounded as I continue
          to pursue my passions. My parents have always emphasized the importance of hard work, learning,
          and staying true to myself, which has helped shape the person I am today.
        </p>
        <p>
          Outside of work, I have a deep love for traveling. Whether it’s exploring new cities,
          experiencing different cultures, or simply discovering beautiful landscapes, I find
          that traveling broadens my perspective and enriches my life in many ways. It’s a great way to take a break,
          recharge, and gain fresh ideas that can inspire both my personal and professional life.
          In addition to traveling, I enjoy learning new things and staying up-to-date with the latest
          trends in technology. Whether it's reading about new programming languages, attending tech meetups,
          or watching webinars, I am always eager to expand my knowledge and stay ahead in my field.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
